<h1>Chat App</h1>
<h2>Sign in with Email / Password</h2>
<%= form_for (:session) do |f| %>
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email %>
    
  <br><br>

  <%= f.label :password, 'Password' %>
  <%= f.password_field :password %>

    <br><br>

    <%= f.submit 'Sign in' %>  
<% end %>
<br>
<%= button_to "Sign in with Google", google_path, :method => "get", :disabled => true  %> 
<br>
<%= button_to "Sign in with Facebook", facebook_path, :method => "get", :disabled => true  %> 
<br><br>
<span>Don't have a user?</span> <%= link_to "Sign Up", new_user_path   %>

