<style>
    :root {
    --even: gray;
    --odd: darkgray;
    }
#users{
    display:inline-block;
    width:auto;
}

#rooms{
    display:inline-block;
    width:auto;
    background:orange;
}


.room{
    display:block;
}

.room:last-of-type{
      margin-bottom:0px;
}

.title{
    display:inline-block;
    margin-right:1em;
    min-width:150px;
}

.description{
    display:inline-block;
    margin-right:10px;
    min-width:150px;
}

.container{
    margin-top:10px;
}

.button_to{
    display:inline-block;
}

.room_container:last-of-type{
      margin-bottom:0px;
}

.room_container_link{
    color:blue;
    text-decoration:none;
}

.user_container:last-of-type{
      margin-bottom:0px;
}

.user_container img{
    width:25px;
    height:25px;
    border:1px solid black;
    vertical-align:middle;
    margin-right:1em;
}
#rooms div{
    padding:0.7em;
    cursor: pointer;
}

#rooms div:nth-child(even) {
    background:var(--even);
}

#rooms div:nth-child(odd) {
    background:var(--odd);
}

#rooms div:hover{
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
}

#users div{
    padding:0.7em;
    cursor: pointer;
}

#users div:nth-child(even) {
    background:var(--even);
}

#users div:nth-child(odd) {
    background:var(--odd);
}

#users div:hover{
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
}

.username{
    display:inline-block;
    min-width:100px;
}
</style>

<div class="container">
  <%= button_to "Refresh Page", "", { :onclick => "history.go(0)" } %>
  <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
        <%= render @users %>
    </div>

  <h4> Chat Rooms </h4>    
    <% if @current_user.admin %>
        <%= button_to "Create New Chat Room", new_room_url, :method =>  :get %>
        <br><br>
    <% end %>

    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
        <%= render @rooms %>
    </div>
    
    <% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
    <% end %>
</div>