<style>
.room{
    display:block;
    margin-bottom:0.5em;
}

.title{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    min-width:150px;
}

.description{
    display:inline-block;
    margin-right:10px;
    min-width:150px;
}

.room a{
    color:blue;
}
.container{
    margin-top:10px;
}

.button_to{
    display:inline-block;
}

.user_container{
    margin-bottom:0.5em;
}

.room_container{
    margin-bottom:0.5em;
}

.room_container:nth-child(odd){
    background:gray;
}

.room_container:nth-child(even){
    background:darkgray;
}

.user_container:nth-child(odd){
    background:gray;
}

.user_container:nth-child(even){
    background:darkgray;
}


.room_container.n
</style>
<div class="container">
  <%= button_to "Refresh Page", "", { :onclick => "history.go(0)" } %>
  <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
        <%= render @users %>
    </div>

  <h4> Chat Rooms </h4>    
    <% if @current_user.admin %>
        <%= button_to "Create New Chat Room", new_room_url, :method =>  :get %>
        <br><br>
    <% end %>

    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
        <%= render @rooms %>
    </div>
    
    <% flash.each do |type, msg| %>
    <div>
        <%= msg %>
    </div>
    <% end %>
</div>