<style>
    :root {
    --chat_width: 1000px;
    --chat_height: 600px;
    --chat_padding: 1em;
    --border_width: 1px;
    --input_button_width: 5em;
    }

    #messages{
        border: var(--border_width) solid black;
        height: var(--chat_height);
        width: var(--chat_width);
        padding: var(--chat_padding);
        margin-top:1em;
        overflow:auto;
    }

    #input{
        display:block;
        margin-top:1em;
        width: calc(var(--chat_width) + (2 * var(--chat_padding)));
        height: auto;
    }

    #input input[type=text]{
        display: inline-block;
        width:calc(100% - var(--input_button_width) - 10px - (2 * var(--border_width)));
    }

    #input input[type=submit]{
        width: var(--input_button_width);
    }

    .admin_button_container{
        padding-right:1em;
    }
    
    .message {
    }

    .avatar {
        padding-right:1em;
    }

    .avatar img{
        display:inline-block;
        width:25px;
        height:25px;
        border: 1px solid black;
        overflow: hidden;
    }

    .name {
        padding-right:1em;
        min-width:50px;
    }

    .timestamp {
        padding-right:1em;
    }

    .button_to{
        display:inline;

    }

    #room_edit_button{
        margin-right: 0px;
    }
    
    #room_delete_button{
        margin-right: 20px;
    }
    
    .response{
        display:inline-block;
        margin-left:1em;
        margin-right:1em;
    }

    #messages_delete_button{
        margin-left:1em;
    }
</style>

<h1>
    <%= @room.title %>
</h1>

<% if @current_user.admin %>
    <%= button_to "Edit Room", edit_room_path(@room), :method => :get, :id => 'room_edit_button' %>
    <%= button_to "Delete Room", @room, :method => :delete, :id => 'room_delete_button' %>
<% end %>

<span>
    <%= @room.description %>
</span>

<% if @current_user.admin %>
    <%= button_to "Delete All Messages", delete_all_path(@room), :method => :delete, :id => 'messages_delete_button' %>
<% end %>

<% flash.each do |type, msg| %>
  <div class='response'>
    <%= msg %>
  </div>
<% end %>
<%= turbo_stream_from @room %>
<div id="messages">
    <table>
        <%= render @messages %>
    </table>
</div>
<%= render partial: 'layouts/new_message_form' %>