<!DOCTYPE html>
<html>
  <style>
  body{
    padding:1em;
    background:lightgray;
  }
  nav{
    margin-bottom:1em;
    background:darkgray;
    padding:1em;
    border:1px solid black;
  }

  nav a{
    margin-right:1em;
  }

  nav .button_to{
    display:inline-block;
    margin-left:50px;
  }

  #username{
    margin-right:1em;
  }  
  </style>
  <head>
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <nav>
      <% if @current_user  %>
        <%= link_to "Home", root_path %>
        <span id="username">
          <%= @current_user.username %>
        </span>
        <% if @current_user.admin  %>
          <span id="admin_user">Admin</span>
        <% end %>
        <%= button_to "Edit User", edit_user_path(@current_user.id), :method => "get" %>
        <%= button_to "Log Out", signout_path, :method => :delete %>
      <% end %>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
