<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Chat Rooms", '/rooms' %>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
